/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

body {
    height: 1290px
} 

.featured-collection {
    max-width: 1390px;
    margin: 0 auto;
 
    .heading {
        font-family: "Helvetica Neue Bold", sans-serif;
        text-align: center;
        color: #003366;	font-family: "Helvetica Neue";	font-size: 40px;	
        font-weight: bold;	
        line-height: 49px;
    }

    .description {
        font-family: "Helvetica Neue";	
        font-size: 18px;	
        font-weight: 300;	
        line-height: 26px;	
        text-align: center;
        max-width: 611px;
        margin: 35px auto;
        color: #9B9B9B;
    }

    .featured-collection__item {
        width: 100%;
        background-clip: padding-box;
        text-align: center;
        padding: 0px 20px;
        text-decoration: none;
        color: #003366;

        &:hover {
            .add-to-cart {
              display: block;
            }
          }
    
    }

    .add-to-cart {
        position: relative;
        left: 0;
        min-height: 50px;
        bottom: 12rem;
        margin: 0 auto;
        width: 85%;
        line-height: 50px;
        background: white;
        display: none;
        font-family: "Helvetica Neue";	
        font-size: 18px;	
        font-weight: bold;	
        line-height: 50px;
    }

    .item-details {
        text-align: left;    
        text-decoration: none;
       p {
        color: #003366;
        font-family: "Helvetica Neue";
        font-size: 21px;
        font-weight: bold;
        line-height: 26px;
       }
       span:nth-child(2) {
        color: #9B9B9B;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 300;	line-height: 26px;
       }
    }

    .item-container {
        height: 480px;
    }

    .image-wrapper {
        img {
            width: 100%
        }
        
    }

    
    .center {
        text-align: center;
        a {
            width: 175px;
            height: 50px;
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            line-height: 50px;
        }
        
    }

}



@include media-query($large-up) {
    .featured-collection {
        .featured-collection__item {
            width: 25%;
        }
        .add-to-cart {
            padding: 17px 95px;
        }
    }
}

@include media-query($medium-up) {
    .featured-collection {
        .add-to-cart {
            padding: 1rem;
        }
    }
}

@include media-query($small) {
    .featured-collection-description {
        width: 50%;
        margin-block-end: 1.5em;
    }
    .featured-collection {
        .featured-collection__item {
            width: 100%;
            height: auto;
        }
        .item-details {
            margin-top: 60px;
        }

    }
}